<header>
        <h1> Michel Donovan Saint Remy's Metaphysical Dolphin | ITIS 3135</h1> 
        <nav>
            <a href="index.html">Home</a>
            <a href="contract.html">Contract</a>
            <a href="survey.html">Survey</a>
            <a href="inventory.html">Inventory</a>
            <a href="contract.html">Instructions</a>
            <a href="documentation.html">Documentation</a>
            <a href="highlight.html">Highlight</a>
            <a href="cards.html">Cards</a>
            <a href="website_evaluations.html">Website Evaluations</a>
            <a href="intro_form.html">Form</a>
            <a href="product.html">Product</a>
    
        </nav>
        <nav class="secondary-nav">
            <a href="hobby/index.html">Hobby</a>
            <a href="stuff/CRApy_WeBSitE.htm">Crappy Website</a>
            <a href="project_overview.html">Project Overview</a>
            <a href="projects/index.html">Client Project</a>
            <a href="review1.html">Peer Review 1</a>
            <a href="review2.html">Peer Review 2</a>
        </nav>
    </header>
    